.account{
  background: #EDF3FF;
  /* width: 100%; */
  min-height: 100vh;
  /* margin-left: 235px; */
}

.acc_details{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
}

.icon_wrapper, .icon_wrapper:focus, .icon_wrapper:hover{
  color: black;
  margin: 0 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon_box{
  border: 2px solid black;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ptag{
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  font-family: 'DM Sans';
  margin-top:1rem;
}