.auth{
  width: 100%;
  min-height: 100%;
  background: lightblue;
  top: 0;
  bottom: 0;
  position: absolute;
}

.auth_text{
  color: white;
  line-height: 40px;
  font-family: 'DM Sans';
  width: 40%;
}

.registercontainer{
  background: #FFFFFF;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
  position: absolute;
  top: 60px;
  left: 792px;
  padding: 5rem 2rem;
  width: 38%;
  /* overflow-y: scroll; */
}

.input{
  border: none;
  outline: none;
}

.input::placeholder{
  color: #808080;
  font-size: 14px;
}

.input:focus{
  border: none;
  outline: none;
}

.forgotpasswordlink{
  font-size: 14px;
  cursor: pointer;
  color: #4285F4;
}

.submit{
  background: #001856;
  border-radius: 6px;
  color: white;
  font-size: .9rem;
  font-weight: 500;
  margin: .5rem 0;
}

.submit:hover{
  color: white;
}

.withgoogle{
  background: #E9F1FF;
  border-radius: 9px;
  font-size: .8rem;
  padding: 1rem;
  cursor: pointer;
  color: #4285F4;
}

.loginas{
  background: #EFF8FF;
  border-radius: 9px;
  position: relative;
  cursor: pointer;
  margin-right: 20px;
  padding: 10px 10px 0;
  text-align: center;
}

.resetviaemail{
  display: flex;
  background: #FFFFFF;
  border: 2px solid rgba(0, 123, 255, 0.7);
  box-shadow: 0px 10px 15px rgba(41, 128, 151, 0.1);
  border-radius: 14px;
  padding: 1.5rem;
  margin: 0 0 30px;
}

.resetviaemailicon{
  margin-right: 1rem;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resetviaemailinput{
  background: #F5F7FB;
  border: 1px solid rgba(196, 196, 196, 0.5);
  border-radius: 14px;
  width: 100%;
}

.resetviaemailinput::placeholder{
  color: #C4C4C4;
  font-size: 12px;
}

.resetviaphone{
  padding: 1.5rem;
  display: flex;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.08);
  border: 1.3px solid rgba(196, 196, 196, 0.5);
  filter: drop-shadow(0px 10px 15px rgba(151, 151, 151, 0.08));
  border-radius: 14px;
  color: #C4C4C4;
}


.camera{
  background: #FFFFFF;
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.15);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #007BFF;
  cursor: pointer;
}