.search_bar{
  border: none;
  outline: none;
}

.search_bar:focus{
  border: none;
  outline: none;
}

.notification{
  display: flex;
  background: blue;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  color: white;
  padding: .6rem;
  font-size: .6rem;
  font-weight: 600;
}