
.header{
  background: #FFFFFF;
  box-shadow: 8px -1px 10px rgba(0, 0, 0, 0.1);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_bar{
  border: none;
  outline: none;
}

.search_bar:focus{
  border: none;
  outline: none;
}

.search_bar::placeholder{
  font-size: .8rem;
}

.notify, .notification{
  background: #F5F5F5;
  border-radius: 50%;
  text-align: center;
  padding: .4rem;
  display: flex;
  height: 20%;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: .7rem;
}

.notification{
  background: #007BFF;
  color: white;
}

.notification:hover{
  color: white;
}