.title{
  line-height: .3;
}

.sub_title{
  font-size: .8rem;
}

.dashboard_text{
  color: #464255;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
}

.card{
  background: #008CE5;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.fundwallet{
  color: white;
}

.card_box_title{
  font-size: .8rem;
  font-weight: 500;
}

.card_box_balance{
  font-weight: 800;
  font-size: 1.5rem;
}

.card_box_user_name{
  font-size: 1rem;
}

.mycard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mycard_img{
  background: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mycardimg{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.validcard{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_container{
  background: #FFFFFF;
  color: black;
  box-shadow: 0px 2px 31px rgba(39, 52, 125, 0.05);
  border-radius: 8px;
  margin: 0 .6rem;
  padding: 1rem 2rem .3rem;
}

.currency{
  display: flex;
  margin: auto;
}

.balance{
  font-family: 'Rubik', sans-serif;
}


.cardnumber{
  font-size: .7rem;
}

.filter_btn{
  background: linear-gradient(90deg, rgba(45, 135, 191, 0.74) -1069.59%, rgba(45, 135, 191, 0) 144.33%, rgba(45, 135, 191, 0) 144.33%);
  border: 1px solid #007BFF;
  border-radius: 3px;
}

/* credit card css */
.creditcard_container{
  color: white;
  padding: 1rem 2rem;
  background: linear-gradient(68.44deg, #0968E5 0%, #0941AB 49.27%, #091970 100%);
  border-radius: 12px;
}

.creditcard_logo{
  background: white;
  border-radius: 20px;
}

/* send and receive money */
.sendmoney_container{
  background: #FFFFFF;
  box-shadow: 0px 2px 31px rgba(39, 52, 125, 0.0994395);
  backdrop-filter: blur(6.92949px);
  padding: 1rem 1rem;
  border-radius: 5px;
  text-align: center;
}

.receivemoney_container{
  text-align: center;
  padding: 1rem 1rem;
  background: #007BFF;
  border-radius: 5px;
  color: white;
}

.avatar1{
  background: linear-gradient(184.23deg, #007BFF -15.96%, #3BB2F9 99.08%);
  border-radius: 50%;
  padding: .7rem;
  text-align: center;
  margin: 0 .2rem;
}

/* invite link */
.invite{
  background: #BFDEFF;
  border-radius: 20px;
}

.invite_username{
  border: 2px dashed blue;
  border-radius: 50px;
}