.th{
  font-family: 'Poppins';
  font-weight: 500;
  color: #007BFF;
}

.tr{
  font-family: 'DM Sans';
  font-weight: 400;
  color: #404550;
}

.tablerow{
  line-height: 3;
}

.tablerow:nth-child(1){
  border-bottom: 1px solid #DDE0E2;  
}
.tablerow:nth-child(2){
  border-bottom: 1px solid #DDE0E2;  
}

@media only screen and (max-width: 768px) {
  .tr{
    font-size: .8rem;
  }
}